body{
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
}

form{
    background-color: aliceblue;
}
table,td,tr {
    width: 100%;
    margin-right: 20px;
    font-size: large;
  }
input[type="button"]{
    width:105%;
    color:blue;
    padding:10px 5px;
    background:green;
    color:white;
    font-size:18px;
    font-weight:bold;
    border:none;
    box-shadow:1px 1px 1px 1px white;
    border-radius:3px;
}
input[type="button"]:hover
{
    background:darkseagreen;
}

input[type = "text"]{
    width:  100px;
    height: max-content;
}
input[type="text"]:hover
{
    background:grey;
}

#b1{
    font-size:30px;
    color: black;
}

