table {
    border:2px solid green;
    width: 100%;
    margin-right: 20px;
  }
input[type="button"]{
    width:105%;
    color:blue;
    padding:10px 5px;
    background:green;
    color:white;
    font-size:18px;
    font-weight:bold;
    border:none;
    box-shadow:1px 1px 1px 1px white;
    border-radius:3px;
}
input[type="button"]:hover
{
    background:honeydew;
}

#b1{
    font-size:30px;
    color: black;
}

